<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/LOGIN.CSS">
</head>
<body>
    <div class="CONTAINER">
        <% if (messages.error) {%>
            <%=messages.error %>
        <% } %>
        <form class="LOGIN-FORM" action="/login" method="POST">
            <img src="/Black White Minimalist Coffee Shop Logo-Photoroom.png" alt="COFFEE LOGO" class="LOGO">
            <h1>LOGIN</h1>
            <div class="INPUT-GROUP">
                <label for="USERNAME">USERNAME</label>
                <input type="text" id="USERNAME" name="USERNAME" required>
            </div>
            <div class="INPUT-GROUP">
                <label for="PASSWORD">PASSWORD</label>
                <input type="password" id="PASSWORD" name="PASSWORD" required>
            </div>
            <div class="INPUT-GROUP">
                <label for="CATEGORY">CATEGORY</label>
                <select id="CATEGORY" name="CATEGORY" required>
                    <option value="" disabled selected>SELECT ROLE</option>
                    <option value="ADMIN">ADMIN</option>
                    <option value="USER">USER</option>
                </select>
            </div>
            <button type="submit" class="LOGIN-BUTTON">LOGIN</button>
            <p>DON'T HAVE AN ACCOUNT? <a href="/register">SIGN UP</a></p>
        </form>
    </div>
</body>
</html>